<div class="span4 sidebar">
  <div class="sidebox">
    <ul class="list-unstyled">
      <li class="media">
        <img class="d-flex mr-3"
             src="https://instagram.fbkk10-1.fna.fbcdn.net/v/t51.2885-19/s150x150/49472603_377043693089431_8487225495702732800_n.jpg?_nc_ht=instagram.fbkk10-1.fna.fbcdn.net&_nc_ohc=oZaxj0RvEPIAX8q7CNV&oh=4da1e5de5cef9ecced992f07b3ca6731&oe=5EA77677"
             alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">HEXLET</h5>
          my first major course is HEXLET. I am still working on it and have not completed any of the professions. but I
          put it first on the list because it teaches
          exactly programming and not one of the languages ​​(and the mode changes, you and I know this)
        </div>
      </li>
      <li class="media my-4">
        <img class="d-flex mr-3"
             src="https://learn.javascript.ru/img/sitetoolbar__logo_small_ru.svg"
             alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">Learn.JavaScript.ru</h5>
          this is my main tutorial, thanks to which I realized that I can write code. Here I have not been all yet but
          I'm on my way. I am grateful to my first JS course along with NepipenkoIgor, then Igor said "further? -
          further more!"=> TypeScript course, I realized that I had no knowledge of Node.js and npm and went through
          these
          classes here on learn.javascript .ru, I look forward to starting the Angular course with Igor, and "further? -
          further more..."
        </div>
      </li>
      <li class="media">
        <img class="d-flex mr-3"
             src="../myTestApp/src/assets/images/carousel/topbar_logo.svg"
             alt="Generic placeholder image">
        <div class="media-body">
          <h5 class="mt-0 mb-1 font-weight-bold">Stepik</h5>
          you know, I’ll say this is a unique resource, it supported me all the time when I doubted and I had no
          strength. I come back here again and again for support, for new knowledge, for relaxation from everyday tasks
          and for the JetBrains learning license)). I highly recommend this is a huge tutorial and get what you want if
          you like to study like me
        </div>
      </li>
    </ul>
  </div>
</div>
