
<div id="contentOuterSeparator"></div>
<!--TODO add to main page-->
<div class="container-fluid mainPageContent">

  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

        <div class="span4 sidebar">

          <div class="sidebox">
            <h3 class="sidebox-title">DEVCOD.PRO</h3>
            <p>PORTFOLIO PAGE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
