<div class="container-fluid mainPageContent">

  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

        <div class="span4 sidebar">

          <div class="sidebox">
            <h3 class="sidebox-title">DEVCOD.PRO</h3>
            <p>BLOG PAGE</p>
          </div>
          <div class="sidebox">
            <p>Здесь будет мой блог, Основная тема - интересующие меня материалы и выводы</p>
            <p>Работаю над организацией, потом наполнение</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>