<div class="container-fluid mainPageContent">

  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

        <div class="span4 sidebar">

          <div class="sidebox">
            <h3 class="sidebox-title">DEVCOD.PRO</h3>
            <p>BLOG PAGE</p>
            <ng-container>
              <div class="tip" markdown="1">
                Have **fun!**
                #H1 Пишу для блога.
                #H4 пока не отчетливо что буду здесь обсуждать но принципиально это работа учеба и впечатления
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
