<div id="contentOuterSeparator"></div>
<!--TODO add to main page-->
<div class="container-fluid mainPageContent">

  <div class="divPanel page-content">
    <div class="row-fluid">
      <div class="span12" id="divMain">
        <div class="span4 sidebar">
          <div class="sidebox">

            <!--            Sandbox screencast-->
<div class="row-cols-3">
  <div class="col-3">
    <p [style.color]="color">home works!</p>
    <p #colorEl2='setcolory' appColory class="colorBlue">Hello! {{title}}</p>
  </div>
    <div class="col-3">
            <p [class]="myClass">its my first app</p>
            <p #colorEl3='setcolory' appColory>Angular is awesome!</p>
      </div>
    <div class="col-3">
            <p (click)="changeColor('yellow')" [style.color]="myColor">Click me for new color</p>
            <label>
              <input #colorValue type="text">
            </label>
            <button (click)="changeColor(colorValue.value)">CHANGE INPUT COLOR</button>
  </div>
</div>
            <p>hello {{user?.name}} from App.component</p>
            <ul>
              <li *ngFor="let  user of users">
                <app-user-card (userBeenSelected)="selectedUser = user" [userCard]="user" id="card">
                </app-user-card>
                <span (click)="removeUser(user.name)">x</span>
              </li>
            </ul>
            <label>
              <input #userName type="text">
            </label>
            <button (click)="addUser(userName.value); userName.value=' ';">add User</button>
            <h2>{{selectedUser?.name}}</h2>
            <h3 #coloryEl1="setcolory" appColory>Content from home component live test</h3>
            <button (click)="coloryEl1.setColor(); colorEl2.setColor(); colorEl3.setColor()">Set random color for
              content up
            </button>

            <!--            Sandbox screencast-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
