<div id="contentOuterSeparator"></div>
<!--TODO add to main page-->
<div class="container-fluid mainPageContent">

  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

        <div class="span4 sidebar">

          <div class="sidebox">

            <!--            Sandbox screencast-->

            <p [style.color]="color">home works!</p>
            <h1 class="colorBlue">Hello! {{title}}</h1>
            <p [class]="myClass">its my first app</p>
            <p>Angular is awesome!</p>
            <p (click)="changeColor('yellow')" [style.color]="myColor">Click me for new color</p>
            <!--            <label>-->
            <!--              <input type="text" (input)="changeColor($event.target.value)" // its variant with $event>-->
            <!--            </label>-->
            <label>
              <input type="text" #colorValue>
            </label>
            <button (click)="changeColor(colorValue.value)">CHANGE INPUT COLOR</button>
            <p>hello {{user?.name}} from App.component</p>
            <ul>
              <li *ngFor="let  user of users">
                <app-user-card id="card" [userCard]="user" (userBeenSelected)="selectedUser = user"></app-user-card>
              </li>
            </ul>
            <h2>{{selectedUser?.name}}</h2>
            <h3>Content from home component live test</h3>

            <!--            Sandbox screencast-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
