<div id="contentOuterSeparator"></div>

<div class="container-fluid mainPageContent">
  <!--TODO add to main page-->
  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

        <div class="span4 sidebar">

          <div class="sidebox">
            <h3 class="sidebox-title">DEVCOD.PRO</h3>
            <p>PROJECTS PAGE</p>
          </div>
          <div class="sidebox">
            <p>это проекты в работе</p>
            <ul class="list-unstyled">
              <li class="media">
                <img class="d-flex mr-3 mediaImage"
                     src="../../../assets/images/weather.png"
                     alt="weather">
                <div class="media-body">
                  <h5 class="mt-0 mb-1 font-weight-bold">WEATHER</h5>
                  its my weather project with angular
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
