<div class="container-fluid mainComponent">
  <div id="decorative2" class="navigation">
    <div class="container-fluid">
      <div class="divPanel topArea notop nobottom">
        <div class="row-fluid">
          <div class="span12">
            <div id="divLogo" class="pull-left">
              <a href="index.html" id="divSiteTitle">DEVELOPER PAGE</a><br/>
              <a href="index.html" id="divTagLine">Your Welcome </a>
            </div>
            <div id="divMenuRight" class="pull-right">
              <div class="navbar">
                <div class="nav-collapse">
                  <ul class="nav nav-pills ddmenu">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="dropdown"><a routerLink="">Home</a></li>
                    <li routerLinkActive="active" class="dropdown"><a routerLink="/skills">my skills</a></li>
                    <li routerLinkActive="active" class="dropdown"><a routerLink="/sandbox">my sandbox</a></li>
                    <li routerLinkActive="active" class="dropdown"><a routerLink="/projects">projects</a></li>
                    <li routerLinkActive="active" class="dropdown"><a routerLink="/portfolio">portfolio</a></li>
                    <li routerLinkActive="active" class="dropdown"><a routerLink="/blog">blog</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
